/* Mediaquery */
/* Cellulare */
/* @media screen and (max-width: 767px){
    
}  */

/* Tablet */
 @media screen and (min-width: 768px) and (max-width: 991px){
    .col-md-1 {
        flex-basis: calc((100% / 12) * 1);
    }
    .col-md-2 {
        flex-basis: calc((100% / 12) * 2);
    }
    .col-md-3 {
        flex-basis: calc((100% / 12) * 3);
    }
    .col-md-4 {
        flex-basis: calc((100% / 12) * 4);
    }
    .col-md-5 {
        flex-basis: calc((100% / 12) * 5);
    }
    .col-md-6 {
        flex-basis: calc((100% / 12) * 6);
    }
    .col-md-7 {
        flex-basis: calc((100% / 12) * 7);
    }
    .col-md-8 {
        flex-basis: calc((100% / 12) * 8);
    }
    .col-md-9 {
        flex-basis: calc((100% / 12) * 9);
    }
    .col-md-10 {
        flex-basis: calc((100% / 12) * 10);
    }
    .col-md-11 {
        flex-basis: calc((100% / 12) * 11);
    }
    .col-md-12 {
        flex-basis: calc((100% / 12) * 12);
    }
 }
    
    /* Offset tablet md*/
    /* .col-md-11-offset {
        margin-left: calc((100% / 12) * 11);
    }
    .col-md-10-offset {
        margin-left: calc((100% / 12) * 10);
    }
    .col-md-9-offset {
        margin-left: calc((100% / 12) * 9);
    }
    .col-md-8-offset {
        margin-left: calc((100% / 12) * 8);
    }
    .col-md-7-offset {
        margin-left: calc((100% / 12) * 7);
    }
    .col-md-6-offset {
        margin-left: calc((100% / 12) * 6);
    }
    .col-md-5-offset {
        margin-left: calc((100% / 12) * 5);
    }
    .col-md-4-offset {
        margin-left: calc((100% / 12) * 4);
    }
    .col-md-3-offset {
        margin-left: calc((100% / 12) * 3);
    }
    .col-md-2-offset {
        margin-left: calc((100% / 12) * 2);
    }
    .col-md-1-offset {
        margin-left: calc((100% / 12) * 1);
    }
 }     */











    
   

/* Tablet */
/* @media screen and (min-width: 768px) and (max-width: 991px){
    .col-md-1{
        width: calc(100 / 12);
    }
    .col-md-2{
        width: calc(100 / 6);
        background-color: thistle;
    }
   */
   

/* Desktop */
/* @media screen and (min-width: 992px){
    .col-lg-1{
        width: calc(100 / 12);
    }
    .col-lg-2{
        width: calc(100 / 6);
        background-color: thistle;
    }
    
} */