/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Esercizio per casa- Sezione 1 */
h2{
    margin-bottom: 10px;
}
.container{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    min-height: 55px;
}
.row .nested-green{
    border: none;
    border: 1px solid #006cfa;
    background-color: #00e165; 
    line-height: 35px;
    height: 35px;
    flex-wrap: nowrap;
}
.row.padding-10px{
    padding: 10px;
}
.margin-top{
    margin-top: 20px;
}
.container-offset .row{
    flex-wrap: nowrap;
}
[class*="col-"]{
    background-color: #006cfa;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 55px;
}

/* Responsive col-12 */


    